@page "/Chatter"

@using HolidayChatAgent.Repository
@using HolidayChatAgent.Repository.Models
@using HolidayChatAgent.Services
@using HolidayChatAgent.Services.Interfaces
@using HolidayChatAgent.Repository.Data.Connection

@inject IHolidayService _service
@inject IHolidayRepository _repository


<h1>HolidayChatAgent</h1>

<h4>Holidays</h4>

<div>
<h4>Questions?</h4>

<input type="text" @bind="@inputValue" @oninput="OnInputEvent"/>

@inputValue

<table class="table table-striped">
    <thead>
        <tr>
            <th>Question 1 </th>
            <th>Question 2 </th>
        </tr>
    </thead>
    <tbody>
        {
            <tr>
                <td>@newQuestion()</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
</div>

@if (holidays is null)
{
    <><em>RUN AWAY!</em></>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>HolidayReference </th>
            <th>HotelName        </th>
            <th>City             </th>
            <th>Continent        </th>
            <th>Country          </th>
            <th>Category         </th>
            <th>StarRating       </th>
            <th>TempRating       </th>
            <th>Location         </th>
            <th>PricePerNight    </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var holiday in holidays)
        {
            <tr>
                <td>@holiday.HolidayReference</td>
                <td>@holiday.HotelName</td>
                <td>@holiday.City</td>
                <td>@holiday.Continent</td>
                <td>@holiday.Country</td>
                <td>@holiday.Category</td>
                <td>@holiday.StarRating</td>
                <td>@holiday.TempRating</td>
                <td>@holiday.Location</td>
                <td>@holiday.PricePerNight</td>
            </tr>
        }
    </tbody>
</table>
}

    @code {
    private IEnumerable<Holiday> holidays;

    private string inputValue = "Hello, world";
    private void OnInputEvent(ChangeEventArgs changeEvent)
    {
        inputValue = (string)changeEvent.Value;
    }

    protected override async Task OnInitializedAsync()
    {
        {
            holidays = await _service.GetAllHolidaysAsync();
        }
    }

    string newQuestion()
    {
        var question = new Questions();

        return question.Question1;
    }

    string ReceiveAnswer()
    {
        var answer = new Answers();

        return answer.Answer1;
    }
}